#container{
    align-self: center;
    font-family: sans-serif;
    font: 22;
    width: auto;
    border: 1px dashed blue;
    border-color: rgb(0, 255, 170);
    text-align: center;
    margin: 2rem;
    background-color: rgb(83, 134, 134);
}
#wrapper{
    font-family: sans-serif;
    font: 22;
    align-items: center;
   width: max-content;
   background-color: rgb(83, 134, 134);
    border-radius: 4px;
 /*   border-color: rgb(214, 14, 14);
    border: 2px solid black; */
    text-align: center;
    margin: 2rem;
    padding: auto;
    display: flexbox;
}
.strikethrough{
    text-decoration: line-through rgb(15, 15, 15);
    background-color: rgb(172, 226, 158);
}
#removebtn{
    border-radius: 40%;
    background-color: chocolate;
    
}
#removebtn:hover{
    background-color: red;
}
input{
    border-radius: 1rem;
    background-color: rgb(88, 183, 221);
    border-color: burlywood;
}
input.checkbox{
    border-radius: 1rem;
    background-color: rgb(88, 183, 221);
    border-color: burlywood;
}